<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <div class="div" v-if="first">a</div>
    <div class="div" v-if="first">b</div>
    <div class="div" v-if="first">c</div>
    <div class="div" v-if="second">d</div>
    <div class="div" v-if="second">e</div>
    <div class="div" v-if="third">f</div>
    <div class="div" v-if="third">g</div>
    <button @click="change">go</button>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.min.js"></script>
  <script>
    const app = new Vue({
      el: "#app",
      data() {
        return {
          first:true,
          second:false,
          third:false,
        };
      },
      methods: {
        change(){
          if(this.first)
          {
            this.first=false;
            this.second=true;
            this.third=false;
          }
          else if(this.second)
          {
            this.first=false;
            this.second=false;
            this.third=true;
          }
          else
          {
            this.first=true;
            this.second=false;
            this.third=false;
          }
        }
      },
    });
  </script>
</body>
</html>